<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Scott-Pilgrim.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,142}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>scott_callstriker_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,73},{37,58}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{37,58}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,150},{37,54}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{37,54}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,87},{41,54}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{41,54}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,95},{41,56}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{41,56}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,95},{41,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{41,62}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,63},{57,58}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{57,58}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,123},{53,58}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{53,58}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{53,58}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{53,58}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{53,60}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{53,60}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,123},{53,58}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{53,58}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{53,58}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{53,58}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{53,60}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{53,60}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,123},{53,58}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{53,58}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{53,58}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{53,58}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{53,60}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{53,60}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,123},{53,58}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{53,58}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{53,58}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{53,58}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{53,60}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{53,60}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,130},{37,62}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{37,62}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,130},{35,62}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{35,62}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_callstriker_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,136},{37,56}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{37,56}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>scott_dash_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,75},{38,54}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{38,54}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>scott_dash_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,146},{44,60}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{44,60}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>scott_dash_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{54,50}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{54,50}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>scott_dash_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,146},{46,52}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{46,52}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>scott_dash_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,83},{40,52}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{40,52}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>scott_dash_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,146},{42,60}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{42,60}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>scott_dash_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,58},{50,52}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{50,52}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>scott_dash_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{46,52}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{46,52}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>scott_guitar_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{91,79}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{91,79}}</string>
                <key>sourceSize</key>
                <string>{103,89}</string>
            </dict>
            <key>scott_guitar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{91,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{91,85}}</string>
                <key>sourceSize</key>
                <string>{103,89}</string>
            </dict>
            <key>scott_guitar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,115},{61,67}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{61,67}}</string>
                <key>sourceSize</key>
                <string>{103,89}</string>
            </dict>
            <key>scott_guitar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,125},{67,73}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{67,73}}</string>
                <key>sourceSize</key>
                <string>{103,89}</string>
            </dict>
            <key>scott_guitar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{77,79}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{77,79}}</string>
                <key>sourceSize</key>
                <string>{103,89}</string>
            </dict>
            <key>scott_guitar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{77,83}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{77,83}}</string>
                <key>sourceSize</key>
                <string>{103,89}</string>
            </dict>
            <key>scott_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,125},{36,59}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{36,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>scott_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,112},{36,57}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{36,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>scott_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{36,57}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{36,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>scott_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,61},{36,57}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{36,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>scott_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{36,59}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{36,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>scott_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,121},{36,57}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{36,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>scott_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{36,57}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{36,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>scott_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,62},{36,57}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{36,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>scott_pummel_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,64},{59,52}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{59,52}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>scott_pummel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,136},{51,54}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{51,54}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>scott_pummel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,138},{71,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{71,54}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>scott_pummel_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,69},{65,52}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{65,52}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>scott_pummel_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,138},{51,54}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{51,54}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>scott_pummel_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{65,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{65,52}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>scott_victory_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,95},{42,49}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{42,49}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>scott_victory_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,146},{46,47}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{46,47}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>scott_victory_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,95},{42,51}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{42,51}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>scott_victory_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{30,71}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{30,71}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>scott_victory_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{34,67}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{34,67}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>scott_victory_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{34,69}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{34,69}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>scott_victory_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{34,69}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{34,69}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>scott_victory_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,146},{42,63}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{42,63}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scott_sprites.png</string>
            <key>size</key>
            <string>{1003,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e488bacea8ca1e79e5420ae9d8fcc4c9$</string>
            <key>textureFileName</key>
            <string>scott_sprites.png</string>
        </dict>
    </dict>
</plist>
